<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
<body>

<router-outlet></router-outlet>
<div *ngIf="isLoggedIn()">
  <ul>
    <li><a routerLink="/abono">Abono</a></li>
    <li><a routerLink="/pago">Pago</a></li>
    <li><a routerLink="/inscripcion">Inscripción</a></li>
    <li><a routerLink="/factura">Factura</a></li>
  </ul>
</div>
<div *ngIf="!isLoggedIn()">
  <p>Inicia sesión para acceder al menú</p>
</div>